

<div class="show_users">
  <h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3">Admin, what would you like to do ?</th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>          
          <td><%= user.name %></td>
          <td><%= link_to 'Show', user, :class => "admin-links"  %></td>
          <td><%= link_to 'Edit', edit_user_path(user), :class => "admin-links"  %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "admin-links"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>




<div class="show-links">
  <%= link_to 'New User', new_user_path %>
</div>