<div class="homepage">

  <div class="hero">       
      <%= image_tag("aboutpage.jpg", :class => "hero-image") %>  
  </div>

  
  <div class="strip">
    <p>Concept luxury vehicles for the Distinguished</p>
  </div>
  
  <div class="statement">
    <p><span id="name">SuperTorque</span> is the only dealership in the <span>UK</span> offering concept luxury supercars, has proudly been in
       business since 2020 providing the highest level of service to our customers. We believe that 
       <span>Good Business</span> begins with <span>Top Quality Automobiles, High Attention</span> to detail & continues with 
       <span>Service</span> after the sale. Our customers are very discerning car people that are searching for the 
       very best in the automobile and the buying experience. We believe you will be comforted in knowing 
       what our other customers have said in regards to their experience.
       Come to our exotic car dealership today!</p>
  </div>

  <div class="info">
    <div class="card text-center">
      
      <div class="card-body">
        <h5 class="card-title">Selection of <span>Limited Vehicles</span></h5>        
        <%= link_to 'Find Your Car', store_index_path %>
      </div>
     
    </div>
  </div>


  <div class="row">
    <div class="column1">
      <h2>Coming Soon</h2> 
        <div class="p-text">
          <p>
            The Land Rover Colossus offers all the functionality found in pickup trucks combined 
            at the same time with the luxury aspects of top premium SUVs. The most fascinating feature of 
            this Land Rover Colossus idea is its impressive use of a sliding C-pillar. Yes, as you can easily 
            slidethe C-pillar to immediately turn the Colossus into 
            a 7- or 5- seater SUV. And then when you slide out the C-pillar, the rear part of the vehicle 
            turns into the truck bed of a typical pickup truck.
          </p>
        </div>
    </div>

    <div class="column2">
      <h2>Land Rover Colossus</h2>
      <%= image_tag("rowimage2.jpg", :class => "row-image2") %> 
    </div>
  </div>

  
    
  <div class="review">  
    <h2>As featured in</h2>  
    <ul>
      
      <li><%= image_tag("review1.png", :class => "review-image") %></li>
      <li><%= image_tag("review2.png", :class => "review-image") %></li>
      <li><%= image_tag("review3.jpg", :class => "review-image") %></li>
      <li><%= image_tag("review4.png", :class => "review-image") %></li>
    </ul>
  </div>
</div>

