
<article>
  <% if notice %>
    <aside id="notice"><%= notice %></aside>
  <% end %>

  
  <h2>Your Garage</h2>
  <table>
    <% @cart.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.product.title %></td>
        <td class="quantity"> &times;<%= line_item.quantity %></td>
        <td class="price"><%= pounds(line_item.total_cost) %></td>
        
        
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <th colspan="2">Total:</th>
        <td class="price"><%= pounds(@cart.total_cost) %></td>
      </tr>
    </tfoot>
  </table>

  <%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_cart_path(@cart) %> | <%= link_to 'Back', carts_path %>

</article>
