<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Vehicles</h1>

<table>  
  <tbody>
    <% @products.each do |product| %>
      

        <td class="image">
          <%= image_tag(product.image_url, class: 'list_image') %>
        </td>

        <td class="description">
          <h1><%= product.title %></h1>
          <p>
            <%= truncate(strip_tags(product.description),
                         length: 80) %>
          </p>
        </td>

      
    <% end %>
  </tbody>
</table>

<div class="page_links">
  <%= link_to 'Add 
  New product', new_product_path %>
</div>